PORT=8080
ZKVERIFY_NETWORK=Volta
ZKVERIFY_SEED_PHRASE=
ZKVERIFY_API_KEY=
ZKVERIFY_RELAYER_API_URL=https://relayer-api.horizenlabs.io/api/v1
ZKVERIFY_EXPLORER_URL=https://zkverify-explorer.zeeve.net/extrinsic
